@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

html{
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
     min-height: 100%;
     min-width: 100%;
}

body {
    background-color: #171717;
    width: 100%;
    margin: 0px;
}

header {
    position: -ms-page;
    border-style: solid;
    border-color: #892b24;
    background-color: #171717;
    backdrop-filter: blur(1000px);
}

#logo {
    position: absolute;
}

#home {
    position: relative;
    left: 140px;
    color: #892b24;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

#pizzap {
    position: absolute;
    left: -340px;
    bottom: -150px;
    z-index: 10;
}

.pizza-slice {
  position: absolute;
  top: 720px;
  left: 389px;
  width: 132px;
  height: 133px;
  object-fit: cover;
}

.mushroom {
  position: absolute;
  top: 608px;
  left: 646px;
  width: 110px;
  height: 109px;
  object-fit: cover;
}

.mushroom-2 {
  top: 852px;
  left: 260px;
  width: 87px;
  height: 92px;
  position: absolute;
  object-fit: cover;
}

.mushroom-3 {
  top: 303px;
  left: 521px;
  width: 110px;
  height: 109px;
  position: absolute;
  object-fit: cover;
}

.bacon-strips {
  position: absolute;
  top: 865px;
  left: 19px;
  width: 95px;
  height: 102px;
  object-fit: cover;
}

.bacon-strips-3{
  position: absolute;
  top: 865px;
  left: 19px;
  width: 95px;
  height: 102px;
  object-fit: cover;
}

.queijo-minas {
  position: absolute;
  top: 412px;
  left: 646px;
  width: 110px;
  height: 94px;
  object-fit: cover;
}

.tomato-vegetable {
  position: absolute;
  top: 835px;
  left: 521px;
  width: 115px;
  height: 109px;
  object-fit: cover;
}

.tomato-vegetable-2 {
  position: absolute;
  top: 172px;
  left: 406px;
  width: 115px;
  height: 109px;
  object-fit: cover;
}

.pizza-slice-2 {
  position: absolute;
  top: 156px;
  left: 581px;
  width: 130px;
  height: 131px;
  object-fit: cover;
}

.image-3 {
  position: absolute;
  top: 99px;
  left: 856px;
  width: 572px;
  height: 572px;
  aspect-ratio: 1;
  object-fit: cover;
}

.union {
  position: fixed;
  top: 44px;
  left: 1424px;
  width: 51px;
  height: 37px;
}

.lverde {
  top: 155px;
  width: 883px;
  height: 877px;
  position: absolute;
  left: 140px;
}

.lvermelho {
  top: 320px;
  width: 718px;
  height: 769px;
  position: absolute;
  left: 150px;
}

.lbranco {
  top: 500px;
  width: 554px;
  height: 661px;
  position: absolute;
  left:180px;
}


.textos {
    color: azure;
}

.apresentação {

    position: absolute;
    left: 1000px;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: 0 0 100px;
    border: none;
    padding : 550px 0px;
    margin-right: 200px;
}

#logoaps{
    position: relative;
    bottom: 500px;
    left: 160px;
    background-color: white;
    border-radius: 300px;
    border-style: solid;
    border-color: #892b24;
    border-width:  11px;
}

#paps{
    position: relative;
    bottom: 510px;
    color: white;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;

}

#botaps{
    position: absolute;
    background-color: #892b24;
    color: white;
    font-size: 40px;
    font-family: "Charm", cursive;
    font-weight: 400px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    border: solid #69201b 8px;
    /* bottom: 486px; */
    bottom: 975px;
    left: 115px;    
    padding: 0px  100px;
}

#botaps:hover{
    transform: scale(1.02);
    transition: .3s;
    border-color: #892b24;
}

