@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');


html{
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
     min-height: 100%;
     min-width: 100%;
}

body {
    background-color: #171717;
    width: 100%;
    margin: 0px;
}

header {
    position: -ms-page;
    border-style: solid;
    border-color: #F59502;
    background-color: #171717;
    backdrop-filter: blur(1000px);
}

#logo {
    position: absolute;
}

#home {
    position: relative;
    left: 140px;
    color: #F59502;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

#pizzap {
    position: absolute;
    left: -340px;
    bottom: -150px;
}

.lverde {
  top: 155px;
  width: 883px;
  height: 877px;
  position: absolute;
  left: 140px;
}

.lvermelho {
  top: 320px;
  width: 718px;
  height: 769px;
  position: absolute;
  left: 150px;
}

.lbranco {
  top: 500px;
  width: 554px;
  height: 661px;
  position: absolute;
  left:180px;
}


.textos {
    color: azure;
}

.apresentação {

    position: absolute;
    left: 1000px;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: 0 0 100px;
    border: none;
    padding : 550px 0px;
    margin-right: 200px;
}

#logoaps{
    position: relative;
    bottom: 500px;
    left: 160px;
    background-color: white;
    border-radius: 300px;
    border-style: solid;
    border-color: #892b24;
    border-width:  11px;
}

#paps{
    position: relative;
    bottom: 510px;
    color: white;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;

}

